.pagination-list {
    display: flex;
    list-style: none;

    li {
        width: 60px;
        height: 60px;
        border: 1px solid #DFDFDF;
        background: #FFFFFF;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:first-child {
            transform: rotate(90deg);
        }

        &:last-child {
            transform: rotate(-90deg);
        }
    }

}

.pagination-active {
    color: #fff !important;
    background: #000000 !important;

}
li.pagination-plug{
    cursor:default;
}