.user-picture__item{
    margin-right: 30px;
    margin-bottom: 50px;
}

.artist-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.artist-description {
    margin-left: 10px;

    h3 {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }

    h4 {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }
}