.user-picture__item {
    margin-right: 30px;
    margin-bottom: 50px;
}

.artist-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.user-basket-round {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: rgba(184, 184, 184, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 286px;
    margin-top: 10px;
}


.artist-description {
    margin-left: 10px;

    h3 {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }

    h4 {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }
}

.artist-without__avatar {
    height: 38px;
    width: 38px;
    background: rgba(184, 184, 184, 0.6);
    border-radius: 50%;
}


@media (max-width: 558px) {
    .user-picture__item {
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    .artist-img__container {
        img {
            width: 100%;
            height: auto;
        }
    }

}

@media (max-width: 355px) {
    .user-basket-round {
        margin-left: 75%;
    }
}