.artworks {
    margin-top: 166px;
}

.section-description {
    display: flex;
    justify-content: space-between;

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #000000;
        margin: 0;
    }

}

.artworks-filters__wraper {
    margin-top: 85px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    span {
        margin-right: 174px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }

}

.category-filter {
    margin-right: 30px;
}
.wraper-arrow__button{
    cursor: pointer;
}
.wraper-user__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 885px) {
.wraper-arrow__button{
    &:last-child{
        margin-right: 0;
    }

}
.pagination-container{
    flex-direction: column;
}
.pagination-items__counter{
    margin-top: 20px;
}
}
@media (max-width: 558px) {
.category-filter{
    margin-bottom: 30px;
}

.name-filter{
    width: 261px;  
    .wraper-arrow__button{
        margin-left: 25px;
    } 
}
}